<div class="row" align="center">
    <div class="col-md-6">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 22rem; cursor: pointer" data-toggle="modal" data-target="#modalFuncionario">
            <img src="~/Content/img/man.png" class="card-img-top" alt="Funcionario">
            <div class="card-body">
                <h1 class="display-4">Funcionario</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 22rem; cursor: pointer" data-toggle="modal" data-target="#modalMunicipio">
            <img src="~/Content/img/map.png" class="card-img-top" alt="Municipio">
            <div class="card-body">
                <h1 class="display-4">Municipio</h1>
            </div>
        </div>
    </div>
</div>

@{Html.RenderAction("Index", "Municipio");}
@{Html.RenderAction("Index", "Funcionario");}