<div class="row" align="center">
    <div class="col-md-6">        
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 22rem; cursor: pointer">
            <a href="~/Funcionarios">
                <img src="~/Content/img/man.png" class="card-img-top" alt="Funcionário">
            </a>
            <div class="card-body">
                <h1 class="display-4">Funcionário</h1>
            </div>
        </div>
        
    </div>
    <div class="col-md-6">        
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 22rem; cursor: pointer">
            <a href="~/Municipios">
                <img src="~/Content/img/map.png" class="card-img-top" alt="Município">
            </a>
            <div class="card-body">
                <h1 class="display-4">Município</h1>
            </div>
        </div>        
    </div>
</div>