@model CityFunc.Web.Models.Municipio

@{
    Layout = null;
}

@using (Html.BeginForm("_partialSearchResult", "Municipio", FormMethod.Get))
{
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="text" name="text" placeholder="Ex: Porto Alegre, RS">
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Buscar" />
        </div>
    </div>
}

@{Html.RenderAction("_partialSearchResult", "Municipio");}
