@model IEnumerable<CityFunc.Web.Models.Municipio>

@{
    ViewBag.Title = "_partialSearch";
    Layout = null;
}

@using (Html.BeginForm("_partialSearch", "Municipio", FormMethod.Post))
{
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="text" name="text" placeholder="Ex: Porto Alegre, RS">
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Buscar" />
        </div>
    </div>
}

@if (ViewBag.SearchText != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>

        @foreach (var item in ViewBag.SearchText as IEnumerable<CityFunc.Web.Models.Municipio>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
            </tr>
        }

    </table>
}